
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<link rel="stylesheet" href="home.css">
<style>
  body{
   background-image: url(https://wallpaperaccess.com/full/5227125.png);
   background-repeat: no-repeat;
   background-size: cover;
  }
  p{
    font-size: 20px;
  }
  .display-3{ font-size: 70px;
  font-weight: 600;
  color: rgb(27, 27, 29);
  }
</style>
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3"> Welcome To Seminar Companion</h1>
     <body>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium molestiae, dolore nihil dolores fugit quis minus quas consequatur obcaecati culpa incidunt atque nulla necessitatibus doloremque tempore amet aut dolorum laudantium officiis non possimus? Voluptatem beatae repellat non inventore nemo molestias hic voluptatibus recusandae? Error fugit necessitatibus dicta magni deleniti aut corporis. Ullam itaque ipsam at repellat omnis. Ratione distinctio cum temporibus molestiae totam quo eligendi! Tempora excepturi reiciendis minima quae similique </p> 
     </body>
</div>
{% endblock %}

